.c-header-homepage {
  //   position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
}

.c-logo-homepage {
  text-align: start;
}

.c-image-homepage {
  width: 30% !important;
}

.c-menu-homepage {
  width: 50%;
  justify-content: end;
}
