body {
  margin: 0;
  font-family: "DesignerVN-Poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: DesignerVN-Poppins;
  src: url("./assets/fonts/DesignerVN-Poppins/DesignerVN-Poppins-ExtraBold.ttf")
    format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: DesignerVN-Poppins;
  src: url("./assets/fonts/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf")
    format("truetype");
}
