.ant-menu {
  height: 100%;
}

// header
.logo {
  width: 64px;
  height: 64px;
  padding: 9px;
  margin-left: 8px;
}

// body
li a {
  text-decoration: none;
}

//icon
.c-logout-icon {
  color: #ff4d4f;
}
