.header {
  width: 100%;
  background-color: #fff;
  color: #000;
  display: list-item;
  margin-left: 160px;
}

.topping input {
  float: right;
  width: 17em;
  height: 32px;
  padding: 8px 10px 10px 10px;
  margin: 8px 0 !important;
  border-radius: 6px;
}

.topping input:focus {
  outline: none;
}

.authen-link {
  float: right;
  color: #000;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none !important;
  padding: 11px 16px 5px 16px;
}

.authen-link:hover {
  color: white;
  text-decoration: underline !important;
}

.home-contact {
  margin-top: 16px;
}

.header-link {
  a {
    color: black;
    font-size: 16px;
  }

  a:hover {
    color: black;
  }
}

.btn-search-2 {
  background-color: #f2635f;
  border: 1px solid white;
  border-radius: 7px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: white;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.drop button {
  background-color: white;
  border-radius: 7px;
  display: inline-block;
  padding: 8px 16px;
  outline: 0;
  font-family: inherit;
  font-size: 16px;
  border: none;
}

.drop button:hover {
  background-color: rgb(240, 240, 240);
}

.drop {
  position: relative;
  display: inline-block;
}

.drop-content {
  width: 200px !important;
  color: black;
  background-color: white;
  box-shadow: 0px 5px 10px 0px #92929233;
  display: none !important;
  position: absolute;
  z-index: 1;
}

.drop-content a {
  color: black;
  display: block;
  margin: 10px 0;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.drop-content a:hover {
  text-decoration: none !important;
  color: #f2635f !important;
}

.drop:hover .drop-content {
  display: block !important;
  z-index: 10;
}
