@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1200px !important;
  }
}

.home-flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8vw;
  margin: 3em 0;
}

.home-title {
  font-size: 24px;
  font-weight: 800;
  margin-top: 34px !important;
  margin-bottom: 20px;
}

.figure-caption {
  text-align: center;
  color: black !important;
  font-size: 21px !important;
  font-weight: 800;
}

.my-carousel .pe-3 {
  padding-right: 30px !important;
}

.btn-slide {
  font-size: 20px;
  background-color: white;
  border: none;
  width: 50px;
}
