.pro2-ly {
  p {
    font-size: 16px;
  }
  span {
    font-size: 16px;
  }

  .pro2-title {
    font-size: 20px;
  }

  h5 {
    font-size: 26px;
    margin-top: 48px;
    font-weight: normal;
  }

  h6 {
    font-size: 24px;
    margin: 50px 0 7px;
    font-weight: normal;
  }

  .my-hr {
    margin: 3px 0 28px;
    height: 0px;
    border: 1px solid #000000;
  }
}

.pro2-des-label {
  font-weight: 700;
}

#order-pane p {
  margin-bottom: 5px;
}
